<!DOCTYPE html>
<html lang="ja">
  	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>キタコミ</title>

    	<!-- Bootstrap -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  	</head>
  	<body style="padding-top: 4.5em;">
    	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success navbar-" style="margin: 0 0 24px 0;">
       		<a class="navbar-brand" href="#">吉祥寺北コミセン</a>
       		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       			<span class="navbar-toggler-icon"></span>
       		</button>
       		<div class="collapse navbar-collapse" id="navbarSupportedContent">
          		<ul class="navbar-nav mr-auto">
             		<li class="nav-item active">
                		<a class="nav-link" href="#">お知らせ<span class="sr-only">(current)</span></a>
             		</li>
					<li class="nav-item active">
                		<a class="nav-link" href="#">イベント<span class="sr-only">(current)</span></a>
             		</li>
					<li class="nav-item active">
                		<a class="nav-link" href="#">施設案内<span class="sr-only">(current)</span></a>
             		</li>
					<li class="nav-item active">
                		<a class="nav-link" href="#">活動<span class="sr-only">(current)</span></a>
             		</li>
             		<li class="nav-item">
               		  <a class="nav-link disabled" href="#">施設予約</a>
             		</li>
          		</ul>
       		</div>
    	</nav>

        {% block body %}
        {% endblock %}

		<footer class="bg-success" style="margin-top: 40px; padding-bottom: 10px;">
			<div class="container" style="padding-top: 20px;">
				<p class="text-center text-light">吉祥寺北コミュニティセンター</p>
				<p class="text-center text-light">東京都武蔵野市吉祥寺北町1-22-10<br>
				TEL: 0422-22-7006</p>
			</div>
		</footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>
