{% extends 'kitacomi/base.html' %}
{% load static %}

{% block body %}

<div class="container">
    <img class="img-fluid mx-auto d-block" src="{% static 'kitacomi/images/kitacomi.png' %}">
</div>

<!-- test code -->
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="margin-bottom: 16px">
            <!-- クラブ・教室 -->
            <div class="card text-center border-info" style="margin-bottom: 16px;">
                <h5 class="card-header bg-info text-light">お知らせ</h5>
                <div class="card-body">
                </div>
            </div>
            <div class="card text-center border-info">
                <h5 class="card-header bg-info text-light">ご利用のきまり</h5>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-bottom: 16px">
            <!-- クラブ・教室 -->
            <div class="card text-center border-success" style="margin-bottom: 16px;">
                <h5 class="card-header bg-success text-light">イベント</h5>
                <div class="card-body">
                </div>
            </div>
		    <!-- 月間行事 -->
            <div class="card text-center border-success">
                <h5 class="card-header bg-success text-light">施設案内</h5>
                <div class="card-body">
                </div>
            </div>
        </div>
       <div class="col-sm-4" style="margin-bottom: 16px">
    		<!-- 施設情報 -->
            <div class="card text-center border-warning">
                <h5 class="card-header bg-warning text-light">パソコン学習会</h5>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
   </div>
</div>
<script>
	$('.carousel').carousel();
	$('.carousel').carousel({
		interval: 3000
	});
</script>

{% endblock %}
