<!DOCTYPE html>
<html lang="ja">
  	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>キタコミ</title>

    	<!-- Bootstrap -->
    	<link href="../css/bootstrap-4.0.0.css" rel="stylesheet">
  	</head>
  	<body>
    	<nav class="navbar navbar-expand-lg navbar-dark bg-success" style="margin-bottom:40px;">
       		<a class="navbar-brand" href="#">吉祥寺北コミセン</a>
       		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       			<span class="navbar-toggler-icon"></span>
       		</button>
       		<div class="collapse navbar-collapse" id="navbarSupportedContent">
          		<ul class="navbar-nav mr-auto">
             		<li class="nav-item active">
                		<a class="nav-link" href="#">ホーム<span class="sr-only">(current)</span></a>
             		</li>
					<li class="nav-item active">
                		<a class="nav-link" href="#">お知らせ<span class="sr-only">(current)</span></a>
             		</li>
             		<li class="nav-item">
               		  <a class="nav-link disabled" href="#">施設予約</a>
             		</li>
          		</ul>
          		<form class="form-inline my-2 my-lg-0">
            		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             		<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          		</form>
       		</div>
    	</nav>
		<div class="container" style="margin-bottom: 40px;">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/card-img.png" alt="">
						<div class="card-body">
							<h5 class="card-title"><strong>受付・待合室</strong></h5>
							<p class="card-text">受付です。広い待合室があります。</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/card-img.png" alt="">
						<div class="card-body">
							<h5 class="card-title"><strong>受付・待合室</strong></h5>
							<p class="card-text">受付です。広い待合室があります。席数は50席以上ありますのでたくさんの方に
							ご利用いただいております。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin-bottom: 40px;">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/card-img.png" alt="">
						<div class="card-body">
							<h5 class="card-title"><strong>受付・待合室</strong></h5>
							<p class="card-text">受付です。広い待合室があります。</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/card-img.png" alt="">
						<div class="card-body">
							<h5 class="card-title"><strong>受付・待合室</strong></h5>
							<p class="card-text">受付です。広い待合室があります。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin-bottom: 40px;">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/card-img.png" alt="">
						<div class="card-body">
							<h5 class="card-title"><strong>受付・待合室</strong></h5>
							<p class="card-text">受付です。広い待合室があります。</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/card-img.png" alt="">
						<div class="card-body">
							<h5 class="card-title"><strong>受付・待合室</strong></h5>
							<p class="card-text">受付です。広い待合室があります。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="bg-success" style="margin-top: 40px; padding-bottom: 10px;">
			<div class="container" style="padding-top: 20px;">
				<p class="text-center text-light">吉祥寺北コミュニティセンター</p>
				<p class="text-center text-light">東京都武蔵野市吉祥寺北町1-22-10<br>
				TEL: 0422-22-7006</p>
			</div>
		</footer>

  		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    	<script src="../js/jquery-3.2.1.min.js"></script>

    	<!-- Include all compiled plugins (below), or include individual files as needed --> 
    	<script src="../js/popper.min.js"></script>
    	<script src="../js/bootstrap-4.0.0.js"></script>
		<script>
			$('.carousel').carousel();
			$('.carousel').carousel({
				interval: 3000
			});
		</script>
  	</body>
</html>
